
.customNavbar{
  background-color: #6741d9;
  color: white;
}
.customNavbar a {
  color: white;
}
.customNavbar input {
  background-color: inherit;
  color: white;
}
.customNavbar input :active {
  background-color: #6741d9;
}
