
.customNavbar{
  background-color: #6741d9;
  color: white;
}
.customNavbar a {
  color: white;
}
.customNavbar input {
  /* background-color: inherit; */
  color: white;
}
.toggleCss{
  background-color: inherit !important;
  color: inherit !important; 
}

